body {
    background-color: #D6E6F2;
}

hr {
    border-style: none;
    background-color: #D6E6F2;
    border-bottom:  8px dotted #414a5f;
    height: 2px;
    width: 5%;
}




img {
    height: 170;
    border-radius: 150px;
}

.pfp:hover{
    transform: scale(1.25);
}
.name-heading:hover{
    transform: scale(2);
}


h1{
    color: #161c2b;
}

h3{
    color: #2d354a;
}