body{
    background-color: #000000ed;
    margin: 0;
}


.top-div img{
    margin: auto auto;
    padding-top: 50px;
    display: block;
}

.top-div-name:hover{
    transform: scale(1.25);
}

.mid-div{
    background-color: red;
    width: 200px;
    height: 200px;
}


.bottom-div{
    background-color: green;
    width: 200px;
    height: 200px;
}


.first-hr{
    height: 1px;
    border: 0;
    background-color: black;
}